
 <div class="row">
 
 <div class="col-sm-4">
 <%= form_with(model: post,local: true) do |form| %>
  <% if post.errors.any? %>
    <div  class="form-group ">
      <h5 class="danger"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h5>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id,class: 'form-control', id: :post_user_id %>
  </div>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment,class: 'form-control', id: :post_comment %>
  </div>
  </br>
  <div class="form-group">
  <%= form.submit :create, class:"btn btn-success"%>
  </div>
<% end %>
</div>
</div> 



